version: '3.8'

services:
  mysql:
    image: mysql
    container_name: sql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: jawad
      MYSQL_DATABASE: test_db
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - backend

  nodebackend:
    build: .
    container_name: nodebackend
    restart: always
    environment:
      DATABASE_URL: mysql://root:jawad@mysql:3306/test_db
    command: sh -c "npx prisma migrate dev --name init --skip-generate && node server.js"
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    networks:
      - backend

volumes:
  mysql-data:

networks:
  backend:
